@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Playfair+Display:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;

  /* Don't try this at home! */
  /* word-break: break-all; */
}

/* General styles & variables */

body {
  margin: 0;
}

:root {
  --mainBlue: #0b2641;
  --accentColor: #66e2a2;
  --smallSpacer: 0.5rem;
  --stdSpacer: 1rem;
  --mdSpacer: 2rem;
  --lgSpacer: 3rem;
}

img {
  max-width: 100%;
}

/* Typography */

body {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  line-height: 130%;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--lgSpacer);
  background: var(--mainBlue);
  color: white;
  gap: var(--mdSpacer);
}

.navbar {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--lgSpacer);
  align-items: center;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

nav a {
  display: block;
  padding: var(--smallSpacer);
  color: white;
  text-decoration: none;
}

.login {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  font-weight: bold;
}

.navbar img {
  width: 100px;
}

.btn {
  padding: var(--smallSpacer) var(--lgSpacer);
  border-radius: 20px;
  border: 1px solid white;
  margin: var(--smallSpacer);
  background: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s linear;
}

.btn:hover {
  color: var(--accentColor);
}

.btn-primary {
  border-color: var(--accentColor);
  background: var(--accentColor);
  color: black;
}

.btn-primary:hover {
  color: white;
}

.graph {
  background: rgba(255, 255, 255, 0.4);
  padding: max(1vw, 10px);
  border-radius: 10px;
}

/* Main */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: var(--lgSpacer);
}

main h2 {
  grid-column: 1 / -1;
  text-align: center;
  border-bottom: 2px solid var(--accentColor);
}

/* Footer */
footer {
  min-height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: var(--mainBlue);
  color: white;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  header .graph {
    display: none;
  }

  header .companyinfo {
    grid-column: span 2;
    text-align: center;
  }

  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 465px) {
  main {
    grid-template-columns: 1fr;
  }

  .btn {
    padding: var(--smallSpacer);
  }
}